<div class="appointment_types-card" data-appointment-types-id="{{ appointment_type_id }}"
     data-appointment-types-name="{{ appointment_type }}">
  <img src="{{ image_path }}" alt="{{ 'Appointment'|t }}" style="width: 50px; height: auto; display: block; margin: 0 auto;" />
  <h3>{{ appointment_type }}</h3>
</div>

