<div class="appointment-list">
  <h3>{{ 'Your Appointments'|t }}</h3>
  <p>{{ 'Phone number:'|t }} {{ phone }}</p>

  {{ form.filters }}

  <table>
    <thead>
    <tr>
      <th>{{ 'Date'|t }}</th>
      <th>{{ 'Time'|t }}</th>
      <th>{{ 'Agency'|t }}</th>
      <th>{{ 'Advisor'|t }}</th>
{#      <th>{{ 'Status'|t }}</th>#}
      <th>{{ 'Appointment'|t }}</th>
      <th>{{ 'Actions'|t }}</th>
    </tr>
    </thead>
    <tbody>
    {% for appointment in appointments %}
      <tr>
        <td>{{ appointment.get('start_date').value|date('Y-m-d') }}</td>
        <td>
          {{ appointment.get('start_date').value|date('H:i') }} -
          {{ appointment.get('end_date').value|date('H:i') }}
        </td>
        <td>{{ appointment.get('agency_id').entity.label() }}</td>
        <td>{{ appointment.get('advisor').value }}</td>
{#        <td>{{ appointment.get('status').value }}</td>#}
        <td>{{ appointment.get('appointment_type_name').value }}</td>
        <td class="appointment-actions">
          <a href="{{ path('appointment.modify', {'id': appointment.id()}) }}"
             class="button button--primary">
            {{ 'Modify'|t }}
          </a>
          <a href="{{ path('appointment.delete', {'id': appointment.id()}) }}"
             class="button button--danger"
             onclick="return confirm('{{ 'Are you sure you want to cancel this appointment?'|t }}')">
            {{ 'Cancel'|t }}
          </a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="4">{{ 'No appointments found'|t }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
