{#<div class="appointment-details">#}
{#  <!-- Add the SVG image from the assets folder -->#}
{#  <img src="{{ asset('calendar-success.png') }}" alt="Calendar Icon" class="calendar-icon">#}

{#  <!-- Styled heading -->#}
{#  <h4 class="appointment-heading">{{ 'Your appointment'|t }}</h4>#}

{#  <!-- Day and Date -->#}
{#  <p class="appointment-label"><strong>{{ 'Day:'|t }}</strong></p>#}
{#  <p class="appointment-value"><strong>{{ date }}</strong></p>#}

{#  <!-- Time and Date -->#}
{#  <p class="appointment-label"><strong>{{ 'Time:'|t }}</strong></p>#}
{#  <p class="appointment-value"><strong>{{ time }}</strong></p>#}
{#</div>#}
